/* You can add global styles to this file, and also import other style files */
input[type=text] {
    border: none;
    border-bottom: 2px solid blue;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=email] {
    border: none;
    border-bottom: 2px solid blue;
}

input[type=email]:focus {
    background-color: lightblue;
}

input[type=date] {
    border: none;
    border-bottom: 2px solid blue;
}

input[type=date]:focus {
    background-color: lightblue;
}

select {
    border: none;
    border-bottom: 2px solid blue;
}

 